<?xml version="1.0" encoding="UTF-8" ?>
<beans   xmlns="http://www.springframework.org/schema/beans" 
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
     <bean id="car0" name="carone, carzero, firstcar" class="com.baobaotao.simple.Car"></bean>
     
     <bean class="com.baobaotao.simple.Car"></bean>
     <bean class="com.baobaotao.simple.Car"></bean>
</beans>
